@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #232323;
}

body.scroll {
  overflow: hidden;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.active {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
  box-shadow: inset 0px -50px 50px -13px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: inset 0px -50px 50px -13px rgba(0, 0, 0, 0.49);
  box-shadow: inset 0px -50px 50px -13px rgba(0, 0, 0, 0.49);
}

.shadowStyle {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.shadowStyle:hover {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
  box-shadow: inset 0px -50px 50px -13px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: inset 0px -50px 50px -13px rgba(0, 0, 0, 0.49);
  box-shadow: inset 0px -50px 50px -13px rgba(0, 0, 0, 0.49);
}
